* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fffb7c;
    height: 90px;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    display: flex;
    justify-content:center;
    padding-top: 17px;
    text-decoration:underline;
}

.title a {
    color: black;
}

.starting-image {
    height: auto;
}

.starting-image img {
    width: 100%;
    opacity: 0.85;
    height: 600px;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    padding-top: 100px;
}

.overlay-text h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.overlay-text h3 {
    font-size: 30px;
}

.links {
    background-color: #fffb7c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links a {
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}

.home {
    padding-right: 100px;
}

.products {
    padding-right: 100px;
}

.footer {
    background-color: #fffb7c;
    width: 100%;
    height: 50px;
    margin-top: -5px;
}

.footer h3 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-family: "Bebas Neue", sans-serif;
}

.home-image img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.overlay .about {
    display: flex;
    flex-direction: column;
}

.about h1 {
    text-decoration: underline;
}

.about p {
    font-size: 25px;
}

.product-info {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.product img {
    border: 5px solid #000;
    border-radius: 10px;
  }

.product-info p {
    max-width: 350px; 
    word-wrap: break-word; 
}

.row1 {
    display: flex;
    justify-content: space-evenly;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    padding-bottom: 10px;
    padding-top: 10px;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    padding-bottom: 10px;
}

.row3 {
    display: flex;
    justify-content: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    padding-bottom: 10px;
}

.bg-image {
    position: absolute;
    width: 100%;
    height: 1250px;
    z-index: -1;
    opacity: 0.85;
  }

.contact-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); 
    padding-left: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.contact-container h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 10px;
    font-size: 32px;
    color: #000;
    display: flex;
    justify-content: center;
}

.contact-container p {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.contact-container hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    height: 40px;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

button {
    background-color: #7a706b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #6b635f;
}
.starting-image {
    position: relative;
}

.starting-image img {
    width: 100%;
    height: auto;
}